/* regole di debug per colonne */
/* [class*="col-"] {
    height: 100px;
    background-color: coral;
    border: 1px solid black;
} */

/* header */
header {
    background-color: #2c3e50;
    /* debug */
}

/* menu navigazione */
.navbar-light .navbar-brand,
.navbar-light .navbar-nav .nav-link {
    color: white;
}

#navbarNav {
    justify-content: flex-end;
}

.navbar-light .navbar-toggler {
    border-color: white;
}

.navbar-toggler-icon {
    color: #888888;
}

/* contenuto pagina */


.star {
    font-size: 40px;
}

/* jumbotron */
#jumbotron {
    background-color: #1abc9c;
    color: white;
    /* debug */
}

#jumbotron img {
    width: 40%;
}

/* sezione portfolio */
#portfolio img {
    margin: 10px 0;
}

/* sezione about */
#about {
    background-color: #1abc9c;
    /* debug */
    height: 300px;
}

/* sezione contatti */
#contact {
    /* debug */
    height: 300px;
}

/* footer */

/* parte superiore */
#footer_top {
    background-color: #3a546d;
    /* debug */
    height: 400px;
}

/* parte inferiore */
#footer_bot {
    background-color: #2c3e50;
    text-align: center;
    /* debug */
    height: 100px;
}