/* header */
header {
    background-color: #2c3e50;
}

/* menu navigazione */
.navbar-light .navbar-brand,
.navbar-light .navbar-nav .nav-link {
    color: white;
}

#navbarNav {
    justify-content: flex-end;
}

.navbar-light .navbar-toggler {
    border-color: white;
}

.navbar-toggler-icon {
    color: #888888;
}

/* contenuto pagina */
.star {
    font-size: 40px;
}

/* jumbotron */
#jumbotron {
    background-color: #1abc9c;
    color: white;
    padding: 30px 0;
}

#jumbotron img {
    width: 40%;
}

/* sezione portfolio */
#portfolio {
    padding: 30px 0; 
}

#portfolio img {
    margin: 10px 0;
}

/* sezione about */
#about {
    background-color: #1abc9c;
    color: white;
    padding: 30px 0;
}

/* sezione contatti */
#contact {
    padding: 30px 0; 
}

#contact .form-control {
    border-top: none;
    border-left: none;
    border-right: none;
}

#contact .btn-primary {
    background-color: #1abc9c;
    border-color: #1abc9c;
}

/* footer */
/* parte superiore */
#footer_top {
    background-color: #3a546d;
    color: white;
    padding: 30px 0;
}

#footer_top .fab {
    padding-top: 10px;
    margin: 10px;
    width: 40px;
    height: 40px;
    font-size: 20px;
    border: 1px solid white;
    border-radius: 50%;
}

/* parte inferiore */
#footer_bot {
    background-color: #2c3e50;
    text-align: center;
    color: white;
    padding: 30px 0;
}