/* regole di debug per colonne */
[class*="col-"] {
    height: 100px;
    background-color: coral;
    border: 1px solid black;
}

/* contenitori personalizzati */

/* contenitore smartphone */
.container_sp {
    width: 60%;
    margin: 0 auto;
}

/* header */
header {
    background-color: #2c3e50;
    /* debug */
    height: 100px;
}

/* contenuto pagina */

/* jumbotron */
#jumbotron {
    background-color: #1abc9c;
    color: white;
    /* debug */
    height: 300px;
}

/* sezione about */
#about {
    background-color: #1abc9c;
    /* debug */
    height: 300px;
}

/* sezione contatti */
#contact {
    /* debug */
    height: 300px;
}

/* footer */

/* parte superiore */
#footer_top {
    background-color: #3a546d;
    /* debug */
    height: 400px;
}

/* parte inferiore */
#footer_bot {
    background-color: #2c3e50;
    text-align: center;
    /* debug */
    height: 100px;
}